*{
    position: relative;
    background-color: darkcyan;
   text-align: center;
}

button{
    font-size: 20px;
   padding: 10px;
   border-radius: 10px;
   margin: 20px;
}
#boton{
   text-align: center;
}

#ejercicios {
    display: none;
}

a {
    color: indigo;
    text-decoration: none;

}
h1{
    font-size: 30px;
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-color: black;

}

p {
    font-size: large;
    color: darkslategray;
    text-align: center;
}
h2{
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}
h3 {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}